html, body {
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 48px;
  /* pointer-events: none; */
  background: transparent;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
  pointer-events: auto; /* Allow pointer events on the canvas */
  position: absolute; /* Ensure it is positioned correctly */
  z-index: 1000; /* High z-index to stay on top */
}
